@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --testSoft: #e5e5e5;
  --btn: #3673fd;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inputForm {
  @apply p-2 md:p-3 rounded-md border-none outline-none bg-slate-700 text-white;
}

.transcolors {
  @apply transition-colors duration-150 ease-in-out;
}